html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    color: #363636;
    background-color: #F5F4FF;
    width: 100vw;
}

/*nav bar*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 20px 50px 10px 50px;
    overflow: hidden;
    background-color: #F5F4FF;
}
#logo{
    font-size: 48px;
    font-weight: 600;
    float: left;
}

#contact-button{
    color: #ffffff;
    font-weight: 600;
    text-decoration: none;
}

#contact-button:hover{
    color: #6f66be;
}
.navLinks{
    font-size: 22px;
    font-weight: 600;
    padding: 16px 24px;
    float: right;
}

.button{
    background-color: #6f66be;
    border-radius: 35px;
    border: 3px solid #6f66be;
    color: #FFFFFF;
    float: right;

}

.button:hover{
    background-color: #F5F4FF;
    border: 3px solid #6f66be;
    color: #6f66be;
    text-decoration: none !important;
}

li a:link {
    color: #363636;
    text-decoration: none;
}

li a:visited {
    color: #363636;
}

li a:hover {
    color: #6f66be;
}

/*hero*/
.hero{
    text-align: center;
    margin-bottom: 200px;
}

.hero1{
    font-size: 64px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
}

.hero2{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-top: -5px;
    margin-bottom: 20px;
}


/*main body*/
.content{
    min-height: 400px;
    width: 100vw;
    background-image: url(../images/backgroundsquiggle.svg);
    object-fit: cover;
    background-size: 100vw;
    background-repeat: no-repeat;
}



img{
    max-width: 90%;
    height: auto;
}

.zoom{
    transition: transform .2s;
}

.zoom:hover{
    transform: scale(1.05);
}

.bounce{
    animation: WorkArrow .7s infinite;
}


@keyframes WorkArrow {
    from {
    transform: translateY(0px);
  
    }
    50% {
    transform: translateY(5px);
    }
    to {
    transform: translateY(0px);
    }
  }

.mainHeader{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

#workTitle{
    width: 200px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.downArrow{
    width: 80px;
    z-index: -100;
    bottom: 0px;
}

h1{
    font-size: 36px;
    font-weight: 600;
}

h2{
    font-size: 28px;
    font-weight: 600;
}

h3{
    font-size: 24px;
    font-weight: 600;
}



.bodyText{
    font-size: 18px;
    font-weight: 400;
    text-align: justify center;
    width: 500px;
    margin: 0 auto;
}

.description{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-top: -20px;
}

.CaseStudies{
    width: 90%;
    padding: 50px 0px 50px 0px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;

}

.caseStudyButton{
    background-color: #ffffff;
    color: #363636;
    border-radius: 35px;
    border: none;
    text-decoration: none;
    padding: 16px 30px 16px 30px;
    box-shadow: 0px 0px 10px 0px #9792c4;
    font-size: 24px;
    font-weight: 600;
}

.caseStudyButton:hover{
    background-color: #6f66be;
    color: #ffffff !important;
    box-shadow: 0px 0px 0px 0px;
}

a .caseStudyButtonFont:hover{
    color: white;
    padding: 16px 24px;
}

/*My Work Grid*/
#workGrid{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-areas: 
    "BBBSImg BBBSText"
    "SJImg SJText";
    margin: 0 auto;
    margin-top: 50px;
    padding: 0px 50px 0px 50px;
    align-items: center;
    justify-content: center;
    grid-row-gap: 20px;
}

#BBBSImg{
    grid-area: BBBSImg;
    text-align: center;
}

#BBBSText{
    grid-area: BBBSText;
    text-align: center;
    padding: 0px 20px 0px 20px;    
}

#SJImg{
    grid-area: SJImg;
    text-align: center
;}

#SJText{
    grid-area: SJText;
    text-align: center;
    padding: 0px 20px 0px 20px;
}



/*My Skills Flexbox*/
#mySkills{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}






/*footer*/

.footer{
    height: 40px;
    width: 100%;
    background-color: #F5F4FF;
    position: relative;
    bottom: 0px;
    left: 0px;
    color: #363636;
    text-align: center;
    
}
/*Responsivenes*/
@media all and (max-width:1023px){
    #homeGrid{
        grid-template-areas: 
        "BBBSImg"
        "BBBSText"
        "SJImg"
        "SJText";
        grid-template-columns: 1fr 0;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        grid-row-gap: 20px;
    }

    #SJText{
        padding-bottom: 20px;
    }
    #BBBSText{
        padding-bottom: 20px;
    }

    .hero1{
        font-size: 40px;
    }
    
    .hero2{
        font-size: 28px;
    }

    h1{
        font-size: 28px;
    }
    
    h2{
        font-size: 24px;
    }
    
    h3{
        font-size: 20px;
    }

    .mainHeader{
        font-size: 36px;
    }

    .bodyText{
        font-size: 16px;
    }
    
    .description{
        font-size: 16px;
    }

    .caseStudyButton{
        border-radius: 45px;
        padding: 16px 30px 16px 30px;
        font-size: 16px;
    }

    .rightnav{
        display: none;
    }
    
    /*
    .Hamburger{
        margin: 0px;
        float: right;
    }

    #hamburger{
        width: 50px;
    }
    */
    }



